# Environment / secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Django
*.sqlite3
/staticfiles/
db.sqlite3

# Editors / OS
.vscode/
.idea/
.DS_Store
